@{
	ViewBag.Title = Resources.Estructura.ConEstructura;
}
<div class="jumbotron">
	<h2 class="h2">@Resources.Estructura.EstructuraBien</h2>
	<p class="text-justify text-info">@Resources.Estructura.EncabezadosDeVerdad</p>
	<h2 class="h2">@Resources.Estructura.UsarDivs</h2>
	<p class="text-justify text-warning">@Resources.Estructura.HazloBien</p>
</div>
<h2 class="h2">@Resources.Estructura.Menu</h2>
<nav>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://www.first.com">@Resources.Estructura.PrimerItem</a></li>
        <li class="list-group-item"><a href="http://www.second.com">@Resources.Estructura.SegundoItem</a></li>
        <li class="list-group-item"><a href="http://www.third.com">@Resources.Estructura.TercerItem</a></li>
    </ul>
</nav>

